#editbox input:not([type=submit]).parsley-success,
select.parsley-success,
textarea.parsley-success {
    border-bottom-color: #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    border-bottom-color: #B94A48;
}

.parsley-errors-list {
    text-align: center;
    color: #B94A48;
    margin: 1em 4em 1.5em;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}
